<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'image/icon.png' %}"/>
    {% block scripts_and_css %}
    
    {% endblock scripts_and_css %}
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="{% url 'index' %}" class="navbar-brand"> 
                    <img src="{% static 'image/logo.png' %}" height="50" alt="Brand">
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="{% url 'inventory' %}" class="nav-item nav-link">Inventory</a>
                        <a href="{% url 'orders' %}" class="nav-item nav-link">Orders</a>
                        <a href="{% url 'customers' %}" class="nav-item nav-link">Customers</a>
                        <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a>
                    </div>
                    <div class="navbar-nav ms-auto">
                        <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row mt-2 mb-2 ml-2 mr-2">
                {% block main_body %}

                {% endblock main_body %}
            </div>
            <div class="row mb-2 ml-2 mr-2"  style="text-align: center;">
                <span style="text-align: center; font-size: 80%">
                    All rights reserverd, &copy;aJaS-Tech <span id="year"></span>
                </span>
            </div> 
        </div>
    </div>

    <script>
        document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block scripts %}

    {% endblock scripts %}
</body>
</html>