{% extends "base.html" %}
{% load static %}

{% block scripts_and_css %}
<!-- Add Additional Scripts, CSS in the header for the page in this block -->

{% endblock scripts_and_css %}



{% block main_body %}
<!-- Add the main body for the page in this block -->
<div class="contrainer-fluid">
    <form action="" method="get">
        <div class="row filter-bar mb-3 mt-2">
            <h5>Filter Bar</h5>
            <div class="col-2">   
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Category
                    </button>
                    <ul class="dropdown-menu">
                        {% for category in categories %}
                            <li>
                                <a class="dropdown-item" href="#" name="selected_category">{{category.category_name}}</a>
                                <!-- <input class="form-check-input me-1" type="checkbox" value="{{category.category_name}}" aria-label="..." name="selected_category"> -->
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-2">
                <label for="code" class="form-label">Item Code</label>
                <input type="text" class="form-control" id="code" name="item_code">
            </div>
            <div class="col-2">
                <label for="price" class="form-label">Price Less than</label>
                <input type="text" class="form-control" id="price" name="price_less_than">
            </div>
        
            <div class="col-2">

            </div>
            <div class="col-2" style="text-align: right;">
                <input class="btn btn-outline-primary" type="submit" value="Apply" name="apply">
            </div>
        </div>    
    </form>

    <hr>
    
    <div class="row mb-2 mt-2" style="text-align: right;">
        <div class="col-10"></div>
        <div class="col-2"><a class="btn btn-success" href="{% url 'new_item' %}">New Item</a></div>
    </div>
    
    <div class="row mb-2">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Item Code</th>
                <th scope="col">Item Image</th>
                <th scope="col">Item Name</th>
                <th scope="col">Total Cost (OMR)</th>
                <th scope="col">Selling Price (OMR)</th>
                <th scope="col">Remaining Quantity</th>
                <th scope="col">Details</th>
            </tr>
            </thead>
            <tbody>
            {% for item in inventory %}
                <tr>
                    <th scope="row">{{item.id}}</th>
                    <td>{% if item.item_image %}<img src = "{{ item.item_image.url }}" width="100" height="100"> {% endif %}</td>
                    <td>{{item.item_name}}</td>
                    <td class="omr">{{item.getTotalCost}}</td>
                    <td class="omr">{{item.selling_price}}</td>
                    <td>{{item.remaining_qty}}</td>
                    <td><a class="btn btn-primary btn-sm" href="{% url 'update_delete_item' item.id %}">Check</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock main_body %}



{% block scripts %}
<!-- Add Additional Scripts at the bottom for the page in this block -->
<script>
    n = document.getElementsByClassName('omr');

    for(let i=0;i<n.length;i++){
        n[i].innerText=parseFloat(n[i].innerText).toFixed(3);
    }
</script>
{% endblock scripts %}