{% extends "base.html" %}
{% load static %}

{% block scripts_and_css %}
<!-- Add Additional Scripts, CSS in the header for the page in this block -->

{% endblock scripts_and_css %}


{% block main_body %}
<!-- Add the main body for the page in this block -->
<div class="row mb-4 mt-2">
    <div class="col-4">
        <div class="card stats" style="background-color:#c6d8e4;">
            <div class="card-body" style="color:#1A5276;">
                <h5 class="card-title"> Total Customers</h5>
                <span class="numberSpan" >{{totalCustomers}}</span>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card stats" style="background-color: #A9DFBF;">
            <div class="card-body" style="color:#196F3D;">
                <h5 class="card-title"> Total Items </h5>
                <span class="numberSpan" >{{totalItems}}</span>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card stats" style="background-color: #F9E79F;">
            <div class="card-body" style="color: #9A7D0A;">
                <h5 class="card-title"> Total Orders</h5>
                <span class="numberSpan" >{{totalOrders}}</span>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <h4>Pending Payment<span class="pending">({{totalPendingPCount}})</span></h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Order Value</th>
                            <th scope="col">Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pending in totalPendingP %}
                            <tr>
                                <th scope="row">{{pending.id}}</th>
                                <td>{{pending.customer.name}}</td>
                                <td>{{pending.total}}</td>
                                <td><a class="btn btn-primary btn-sm" href="{% url 'update_delete_order' pending.id %}">Check</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <h4>Pending Delivery <span class="pending">({{totalPendingDCount}})</span></h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Order Value</th>
                            <th scope="col">Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pending in totalPendingD %}
                            <tr>
                                <th scope="row">{{pending.id}}</th>
                                <td>{{pending.customer.name}}</td>
                                <td>{{pending.total}}</td>
                                <td><a class="btn btn-primary btn-sm" href="{% url 'update_delete_order' pending.id %}">Check</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_body %}



{% block scripts %}
<!-- Add Additional Scripts at the bottom for the page in this block -->

{% endblock scripts %}