{% extends "base.html" %}
{% load static %}

{% block scripts_and_css %}
<!-- Add Additional Scripts, CSS in the header for the page in this block -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>

{% endblock scripts_and_css %}



{% block main_body %}
<!-- Add the main body for the page in this block -->
<div class="row mb-2 mt-2" style="text-align: center;">
    <div class="col-2">
        <input type=button value="Back" class="btn btn-secondary" onClick="javascript:history.go(-1);">
    </div>
    <div class="col-9"></div>
</div>
<form method="POST" action="" enctype="multipart/form-data" id="myForm">
    {% csrf_token %}
    <div class="card">
        <div class="card-header" style="text-align: center;"><h1> Order Details </h1></div>
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-md-6">
                        <label for="id" class="form-label">Order ID</label>
                        <input type="text" class="form-control" id="id" value="{{order.id}}" readonly>
                    </div>
                    <div class="col-6">
                        <label for="order_date" class="form-label">Order Date</label>
                        {{orderForm.order_date}}
                    </div>
                    <div class="col-6">
                        <label for="customer" class="form-label">Customer Name</label>
                        {{orderForm.customer}}
                    </div>
                    <div class="col-6">
                        <label for="status" class="form-label">Order Status</label>
                        {{orderForm.status}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <br>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="card-text">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Discount</th>
                        <th scope="col">Total</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="orders">
                        {% for orderLine in formset %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <tr class="orderline">
                                <th>{{orderLine.item}}</th>
                                <td><input type="text" value="{{orderLine.item.selling_price}}" id="unit_price" class="form-control unit_price" readonly></td>
                                <td>{{orderLine.qty}}</td>
                                <td class="omr" id="discount">{{orderLine.disc}}</td>
                                <td class="omr" id="total_price_">{{orderLine.total_price}}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{formset.management_form}}
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-2" style="text-align: right;">
                        <label for="total" class="form-label">Total</label>
                        {{orderForm.total}}
                    </div>
                    <div class="col-12"> <br></div>
                    {% if status == 'new' %}
                        <div class="col-12" style="text-align: center;">
                            <input type="submit" name="update" class="btn btn-success" value="Add">
                        </div>
                    {% else %}
                        <div class="col-6">
                            <input type="submit" name="update" class="btn btn-success" value="Update">
                        </div>
                        <div class="col-6">
                            <input type="submit" name="delete" class="btn btn-danger" value="Delete">
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>            
    </div>
</form>

<script type="text/javascript">
    $(function() {
        $('#myForm tbody tr').formset({
            addText: '+',
            deleteText: '-',
            prefix: '{{ formset.prefix }}',
            deleteCssClass: "btn btn-outline-danger",
            addCssClass: "btn btn-outline-success add-btn",
        });
    })
</script>
{% endblock main_body %}



{% block scripts %}
<!-- Add Additional Scripts at the bottom for the page in this block -->
<script>
    var itemsList = {{itemsList | safe}};
</script>
<script src="{% static 'js/orderDetail.js' %}"></script>
{% endblock scripts %}